<div class="alert alert-warning" role="alert">
   <p id="notice"><%= notice %></p>
</div>

<div class="wrapper-field">
   <h1><%= @email %>さんの予約一覧</h1>
</div>

<table>
   <thead>
      <tr>
         <th colspan="3"></th>
      </tr>
   </thead>

   <tbody>
      <% @reservations.each do |reservation| %>
      <div class="row">
         <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
               <!-- <img src="" alt=""> -->
               <div class="caption wrapper-field">
                  <h4>倉庫名：<%= reservation.warehouse.name %></h4>
                  <p>チェックイン：<%= reservation.start.strftime("%Y年%m月%d日 %H時%M分") %></p>
                  <p>チェックアウト<%= reservation.end.strftime("%Y年%m月%d日 %H時%M分") %></p>
                  <p>
                     <%= link_to '詳細へ', reservation , class: "btn btn-warning form-control", role: "button" %>
                  </p>
                  <p>
                     <!-- <%= link_to '編集する', edit_reservation_path(reservation), class: "btn btn-warning form-control", role: "button" %> -->
                     <%= link_to '編集する', "/reservations/#{reservation.id}/edit", class: "btn btn-warning form-control", role: "button" %>
                  </p>
                  <p>
                     <%= link_to '取り消す', reservation, method: :delete, data: { confirm: '本当に予約を取り消しますか？'}, class: "btn btn-warning form-control", role: "button" %>
                  </p>
                  <br>
               </div>
            </div>
         </div>
      </div>
      <% end %>
   </tbody>
</table>
<%= paginate(@reservations) %>
<div class="wrapper-field">
<%= link_to 'さらに予約する', new_reservation_path, class: "btn btn-warning form-control", role: "button" %>
</div>
