<%= form_with(model: warehouse, local: true) do |form| %>
  <% if warehouse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(warehouse.errors.count, "error") %> prohibited this warehouse from being saved:</h2>

      <ul>
      <% warehouse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :adress %>
  <%= form.text_field :adress %>
  <%= form.label :price %>
  <%= form.number_field :price %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
